name: OpenActive Reference Implementation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  openactive-test-suite:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        seller: ['multiple-sellers', 'single-seller']

    steps:
    - name: Checkout OpenActive.Server.NET
      uses: actions/checkout@v2
      with:
        path: server
    - name: Use matching coverage/* branch ${{ github.head_ref }} in OpenActive Test Suite 
      if: ${{ startsWith(github.head_ref, 'coverage/') }}
      run: echo "::set-env name=mirror_ref::${{ github.head_ref }}"
    - name: Checkout OpenActive Test Suite ${{ env.mirror_ref }}
      uses: actions/checkout@v2
      with:
        repository: openactive/openactive-test-suite
        ref: ${{ env.mirror_ref }}
        path: tests

    - name: Setup .NET Core 2.1.808
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.808
    - name: Setup Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
        
    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
      if: ${{ matrix.os == 'windows-latest' }}

    - name: Install OpenActive.Server.NET dependencies	
      run: dotnet restore ./server/
      if: ${{ matrix.os == 'ubuntu-latest' }}
    - name: Build OpenActive.Server.NET Reference Implementation
      run: dotnet build ./server/Examples/BookingSystem.AspNetCore/BookingSystem.AspNetCore.csproj --configuration Release --no-restore
      if: ${{ matrix.os == 'ubuntu-latest' }}
    - name: Start OpenActive.Server.NET Reference Implementation
      run: |
        dotnet run --project ./server/Examples/BookingSystem.AspNetCore/BookingSystem.AspNetCore.csproj --configuration Release --no-build &
      env:
        UseSingleSellerMode: ${{ matrix.seller != 'multiple-sellers' }}
      if: ${{ matrix.os == 'ubuntu-latest' }}
        
    - name: Install OpenActive.Server.NET dependencies	
      run: msbuild ./server/Examples/BookingSystem.AspNetCore/ /t:restore
      if: ${{ matrix.os == 'windows-latest' }}
    - name: Build OpenActive.Server.NET Reference Implementation
      run: dotnet build ./server/Examples/BookingSystem.AspNetFramework/BookingSystem.AspNetFramework.csproj --configuration Release --no-restore
      if: ${{ matrix.os == 'windows-latest' }}
    - name: Start OpenActive.Server.NET Reference Implementation
      run: |
        dotnet run --project ./server/Examples/BookingSystem.AspNetFramework/BookingSystem.AspNetFramework.csproj --configuration Release --no-build &
      env:
        UseSingleSellerMode: ${{ matrix.seller != 'multiple-sellers' }}
      if: ${{ matrix.os == 'windows-latest' }}

    - name: Install OpenActive Test Suite
      run: npm install
      working-directory: tests
    - name: Setup Seller Config
      id: select-seller-mode
      run: |
        if ${{ matrix.seller != 'multiple-sellers' }};
        then
            echo 'Single Seller Mode'
            echo '::set-output name=config::{ "primary": { "@type": "Organization", "@id": "https://localhost:5001/api/identifiers/seller", "requestHeaders": { "X-OpenActive-Test-Client-Id": "test", "X-OpenActive-Test-Seller-Id": "https://localhost:5001/api/identifiers/seller" } } }'
        else
            echo 'Multiple Seller Mode'
            echo '::set-output name=config::{ "primary": { "@type": "Organization", "@id": "https://localhost:5001/api/identifiers/sellers/1", "requestHeaders": { "X-OpenActive-Test-Client-Id": "test", "X-OpenActive-Test-Seller-Id": "https://localhost:5001/api/identifiers/sellers/1" } }, "secondary": { "@type": "Organization", "@id": "https://localhost:5001/api/identifiers/sellers/3" } }'
        fi
    - name: Run OpenActive Integration Tests in Random Mode
      run: npm start
      env:
        FORCE_COLOR: 1
        NODE_CONFIG: |
          { "outputPath": "../../output/random/", "datasetSiteUrl": "https://localhost:5001/openactive", "sellers": ${{ steps.select-seller-mode.outputs.config }}, "useRandomOpportunities": true, "implementedFeatures": { "multiple-sellers": ${{ matrix.seller == 'multiple-sellers' }} }, "generateConformanceCertificate": false }
        NODE_ENV: 
      working-directory: tests
    - name: Upload test output for Random Mode as artifact
      uses: actions/upload-artifact@v2
      if: ${{ success() || failure() }}
      with:
        name: test-output-random-${{ matrix.seller }}
        path: ./tests/output/random/

    - name: Run OpenActive Integration Tests in Controlled Mode
      run: npm start
      env:
        FORCE_COLOR: 1
        NODE_CONFIG: |
          { "outputPath": "../../output/controlled/", "datasetSiteUrl": "https://localhost:5001/openactive", "sellers": ${{ steps.select-seller-mode.outputs.config }}, "useRandomOpportunities": false, "implementedFeatures": { "multiple-sellers": ${{ matrix.seller == 'multiple-sellers' }} }, "generateConformanceCertificate": ${{ matrix.seller == 'multiple-sellers' }}, "conformanceCertificateId": "https://openactive.io/OpenActive.Server.NET/certification/" }
        NODE_ENV: 
      working-directory: tests
    - name: Upload test output for Controlled Mode as artifact
      uses: actions/upload-artifact@v2
      if: ${{ success() || failure() }}
      with:
        name: test-output-controlled-${{ matrix.seller }}
        path: ./tests/output/controlled/

    - name: Copy certificate for deployment to GitHub Pages (master branch for multiple-sellers only)
      run: |
        mkdir -p ./publish/certification/
        cp ./tests/output/controlled/certification/* ./publish/certification/
      if: ${{ github.ref == 'refs/heads/master' && matrix.seller == 'multiple-sellers' }}
    - name: Deploy certificate to GitHub Pages (master branch for multiple-sellers only)
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/master' && matrix.seller == 'multiple-sellers' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./publish
        force_orphan: true
        enable_jekyll: true

  deploy-reference-implementation:
    # Master branch only
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: openactive-test-suite
    runs-on: ubuntu-latest
    steps:

      # Checkout the repo
      - uses: actions/checkout@master
      
      # Setup .NET Core SDK
      - name: Setup .NET Core 2.1.808
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.1.808
      
      # Run dotnet build and publish
      - name: Install OpenActive.Server.NET dependencies
        run: dotnet restore
      - name: Build OpenActive.Server.NET Reference Implementation
        run: dotnet build ./Examples/BookingSystem.AspNetCore/BookingSystem.AspNetCore.csproj --configuration Release --no-restore
      - name: Publish OpenActive.Server.NET Reference Implementation
        run: dotnet publish ./Examples/BookingSystem.AspNetCore/BookingSystem.AspNetCore.csproj --configuration Release --no-build --output './web-app-package' 
          
      # Deploy to Azure Web apps
      - name: 'Deploy Azure webapp using publish profile credentials'
        uses: azure/webapps-deploy@v2
        with: 
          app-name: openactive-reference-implementation # Replace with your app name
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }} # Define secret variable in repository settings as per action documentation
          package: './Examples/BookingSystem.AspNetCore/web-app-package'
